
footer
	.footer-system
		.container
			.module-title Tìm chi nhánh Cathay Life gần nhất từ vị trí của bạn
			.btn-wrap.text-center
				a.btn-findbranch(href='#!')
					i.material-icons place
					| Tìm chi nhánh
	.footer-top
		.container
			.row
				.col-12.col-xl-3
					.footer-about
						.sitelogo
							a(href='#!')
								img(src='img/logow.png', alt='')
						.company Cathay Life Việt Nam
						.footer-contact
							.title Trụ sở chính
							ul
								li Tòa nhà The World Center, 46-48-50 Phạm Hồng Thái, Quận 1, TP. HCM
								li
									span.text-lgreen Điện thoại: 
									a(href='tel:028 - 6255 6699') 028 - 6255 6699
									br
									span.text-lgreen Fax: 
									|028 - 6255 6399
				.col-12.col-xl-9
					.row
						.col-12.col-sm-6.col-md-3
							.footer-col
								.footer-title Giới thiệu
								nav.footer-link
									a(href='#!') Giới thiệu chung
									a(href='#!') Lịch sử phát triển
									a(href='#!') Tầm nhìn, Sứ mệnh, Giá trị
									a(href='#!') Đội ngũ lãnh đạo
									a(href='#!') Giải thưởng
									a(href='#!') Văn phòng đại diện
									a(href='#!') Cathay Life Global
						.col-12.col-sm-6.col-md-3
							.footer-col
								.footer-title Sản phẩm
								nav.footer-link
									a(href='/san-pham-bao-ve.html') Sản phẩm bảo vệ
									a(href='/san-pham-tiet-kiem.html') Sản phẩm tiết kiệm
									a(href='/san-pham-giao-duc.html') Sản phẩm giáo dục
									a(href='/san-pham-dau-tu.html') Sản phẩm đầu tư
									a(href='/san-pham-bo-tro.html') Sản phẩm bổ trợ
						.col-12.col-sm-6.col-md-3
							.footer-col
								.footer-title Nhu cầu
								nav.footer-link
									a(href='/doc-than.html') Độc thân
									a(href='/vua-lap-gia-dinh.html') Vừa lập gia đình
									a(href='/gia-dinh-co-tre-con.html') Gia đình có trẻ con
									a(href='/sap-nghi-huu.html') Sắp nghỉ hưu
						.col-12.col-sm-6.col-md-3
							.footer-col
								.footer-title Tin tức
								nav.footer-link
									a(href='/tin-cong-ty.html') Tin công ty
									a(href='/tin-tuyen-dung.html') Tin tuyển dụng
	.footer-bottom
		.container
			.row
				.col-12.col-lg-5
					nav.footer-nav
						a(href='#!') Điều khoản & điều kiện
						a(href='#!') Thông tin bảo mật
						a(href='#!') Sitemap
				.col-12.col-lg-7
					.copyright © 2018 Cathay Life Vietnam . All rights reserved. Designed by Cánh Cam