section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/4.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename Biểu mẫu
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Dành cho khách hàng
				li
					a(href="#!")
						span Khách hàng cần biết
				li
					a(href="#!")
						span Biểu mẫu
nav.page-tab
	.container
		.cate-toggle Danh mục
		ul
			li
				a(href="gioithieubh.html") Giới thiệu về Bảo hiểm Nhân Thọ
			li
				a(href="thuatngu.html") Thuật ngữ Bảo hiểm Nhân Thọ
			li
				a(href="hoidap.html") Hỏi & Đáp
			li.active
				a(href="bieumau.html") Biểu mẫu
section.customer-section
	.container
		h1.home-title.text-center Biểu mẫu
		.bieumau-content.content
			p.text-black
				strong Quý khách vui lòng chọn mẫu biểu phù hợp, điền đầy đủ thông tin và gửi về Cathay Life Việt Nam theo một trong những phương thức sau:
			ul.icon.mb-5
				li.mb-1 <i class="material-icons text-green">account_balance</i>Nộp trực tiếp Phiếu yêu cầu tại các văn phòng của Cathay Life hoặc văn phòng chi nhánh Cathay Life gần nhất
				li.mb-1 <i class="material-icons text-green">supervisor_account</i>Thông qua đại lý phục vụ hợp đồng bảo hiểm của Quý khách
				li.mb-1 <i class="material-icons text-green">mail</i>Gửi Phiếu yêu cầu qua Bưu điện Việt Nam (VNPost) về: Lầu 9 - Tòa nhà The World Center, 46-48-50 Phạm Hồng thái, Quận 1, Tp.HCM
		.customer-table3.bieumau-table
			table
				tr
					th Stt
					th Biểu mẫu chung
					th Tải về
				tr
					td 1
					td Đơn yêu cầu thay đổi (Mẫu A)
					td 
						a.btn-download(href="#!") <i class="material-icons">cloud_download</i>
				tr
					td 2
					td Đơn yêu cầu chi trả quyền lợi bảo hiểm
					td 
						a.btn-download(href="#!") <i class="material-icons">cloud_download</i>
				tr
					td 3
					td Đơn hủy ngang hợp đồng
					td 
						a.btn-download(href="#!") <i class="material-icons">cloud_download</i>
				tr
					td 4
					td Đơn yêu cầu thay đổi (Mẫu B)
					td 
						a.btn-download(href="#!") <i class="material-icons">cloud_download</i>
				tr
					td 5
					td Đơn yêu cầu thay đổi chữ ký mẫu
					td 
						a.btn-download(href="#!") <i class="material-icons">cloud_download</i>



