section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/4.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename Giới thiệu về BH Nhân Thọ
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Dành cho khách hàng
				li
					a(href="#!")
						span Khách hàng cần biết
				li
					a(href="#!")
						span Giới thiệu về Bảo hiểm Nhân Thọ
nav.page-tab
	.container
		.cate-toggle Danh mục
		ul
			li.active
				a(href="#!") Giới thiệu về Bảo hiểm Nhân Thọ
			li 
				a(href="#!") Thuật ngữ Bảo hiểm Nhân Thọ
			li 
				a(href="#!") Hỏi & Đáp
			li
				a(href="#!") Biểu mẫu
section.customer-section
	.container
		h1.home-title.text-center Giới thiệu về Bảo hiểm Nhân Thọ
		.gioithieu-content.content
			.row
				.col-12.col-lg-3
					h4.text-green.text-uppercase.text-500 Bảo Hiểm Tử Kỳ
				.col-12.col-lg-9
					p Bảo kiểm tử kỳ là loại hình bảo hiểm nhân thọ cho trường hợp Người được bảo hiểm tử vong trong một thời hạn nhất định, theo đó Công ty bảo hiểm phải trả tiền bảo hiểm cho Người thụ hưởng, nếu Người được bảo hiểm tử vong trong thời hạn được thỏa thuận trong Hợp đồng. Trên cơ sở Số tiền bảo hiểm trên một đồng phí bảo hiểm phải trả, để hướng tới Quyền lợi bảo hiểm tử vong cao thì mua bảo hiểm tử kỳ là cách cho phép phải trả phí bảo hiểm thấp nhất.
			.row
				.col-12.col-lg-3
					h4.text-green.text-uppercase.text-500 Bảo Hiểm Trọn Đời
				.col-12.col-lg-9
					p Bảo hiểm trọn đời là loại hình bảo hiểm nhân thọ cho trường hợp Người được bảo hiểm tử vong vào bất kỳ thời điểm nào trong suốt cuộc đời của người đó. Loại hình này đem lại sự bảo đảm trọn đời cho người được bảo hiểm trên phí bảo hiểm định kỳ cố định.
			.row
				.col-12.col-lg-3
					h4.text-green.text-uppercase.text-500 Bảo Hiểm Hỗn Hợp
				.col-12.col-lg-9
					p Bảo hiểm hỗn hợp là loại hình bảo hiểm nhân thọ có quyền lợi bảo hiểm được chi trả một lần vào cuối thời hạn hợp đồng (ngày đáo hạn) hoặc khi Người được bảo hiểm tử vong. Thời gian đáo hạn điển hình thường là 10, 15, 20 năm hoặc đến một giới hạn tuổi nhất định.
			.row
				.col-12.col-lg-3
					h4.text-green.text-uppercase.text-500 Bảo Hiểm Sinh Kỳ
				.col-12.col-lg-9
					p Khác biệt giữa Bảo hiểm sinh kỳ và Bảo hiểm hỗn hợp là Bảo hiểm sinh kỳ chỉ trả quyền lợi bảo hiểm vào ngày đáo hạn nếu Người được bảo hiểm còn sống.
			.row
				.col-12.col-lg-3
					h4.text-green.text-uppercase.text-500 Bảo Hiểm Hỗn Hợp
				.col-12.col-lg-9
					p Bảo hiểm hỗn hợp là loại hình bảo hiểm nhân thọ có quyền lợi bảo hiểm được chi trả một lần vào cuối thời hạn hợp đồng (ngày đáo hạn) hoặc khi Người được bảo hiểm tử vong. Thời gian đáo hạn điển hình thường là 10, 15, 20 năm hoặc đến một giới hạn tuổi nhất định.
			.row
				.col-12.col-lg-3
					h4.text-green.text-uppercase.text-500 Bảo Hiểm Niên Kim
				.col-12.col-lg-9
					p Bảo hiểm niên kim là loại hình bảo hiểm nhân thọ cho trường hợp Người được bảo hiểm sống đến một thời hạn nhất định; sau thời hạn đó Công ty bảo hiểm phải trả tiền bảo hiểm định kỳ cho Người thụ hưởng theo thỏa thuận trong Hợp đồng bảo hiểm. Có hai thời kỳ: thời kỳ tích lũy (khi phí bảo hiểm được phân bổ vào tài khoản) và thời kỳ niên kim (khi Công ty bảo hiểm chi trả quyền lợi bảo hiểm).
			.row
				.col-12.col-lg-3
					h4.text-green.text-uppercase.text-500 Sản Phẩm Bổ Trợ
				.col-12.col-lg-9
					p Sản phẩm bổ trợ là sản phẩm được bán kèm theo Hợp đồng bảo hiểm chính kể từ khi hợp đồng chính được phát hành. Bên mua bảo hiểm có thể chọn mua các sản phẩm bổ trợ để tăng thêm một số quyền lợi cho Hợp đồng bảo hiểm chính. Một loại sản phẩm bổ trợ rất thông dụng là Bảo Hiểm Tai Nạn Cá Nhân, được đề cập như là sản phẩm "nhân đôi sự bảo vệ", tức là sẽ được nhận gấp đôi số tiền bảo hiểm nếu Người được bảo hiểm tử vong do tai nạn khi cả Hợp đồng bảo hiểm chính và Hợp đồng Bảo Hiểm Tai Nạn Cá Nhân còn hiệu lực. Một loại sản phẩm bổ trợ cũng rất thông dụng nữa là Bảo hiểm từ bỏ thu phí bảo hiểm, Người được bảo hiểm sẽ không phải đóng các khoản phí trong tương lai kể từ khi bị thương tật toàn bộ và vĩnh viễn.