section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/4.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename Hỏi & Đáp
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Dành cho khách hàng
				li
					a(href="#!")
						span Khách hàng cần biết
				li
					a(href="#!")
						span Hỏi & Đáp
nav.page-tab
	.container
		.cate-toggle Danh mục
		ul
			li
				a(href="gioithieubh.html") Giới thiệu về Bảo hiểm Nhân Thọ
			li 
				a(href="thuatngu.html") Thuật ngữ Bảo hiểm Nhân Thọ
			li.active
				a(href="hoidap.html") Hỏi & Đáp
			li
				a(href="bieumau.html") Biểu mẫu
section.customer-section
	.container
		h1.home-title.text-center Câu hỏi thường gặp
		.faq-list
			.faq.active
				.faq-title 1. Sản phẩm bảo hiểm nhân thọ là gì?
				.faq-content(style="display: block")
					.content 
						p Sản phẩm bảo hiểm nhân thọ là hợp đồng giữa cá nhân hoặc tổ chức với Công ty Bảo hiểm nhân thọ để bảo hiểm cho bản thân, người thân hoặc nhân viên của tổ chức trong suốt thời hạn của hợp đồng bảo hiểm.
						p Khi sự kiện bảo hiểm xảy ra, Công ty Bảo hiểm nhân thọ sẽ căn cứ vào Bộ Qui tắc điều khoản của hợp đồng bảo hiểm để chi trả quyền lợi bảo hiểm cho Người thụ hưởng tưong ứng với các điều khoản trong bộ Qui tắc điều khoản.
						p Các loại hình bảo hiểm cũng như các sản phẩm bảo hiểm hiện nay của Công ty Bảo hiểm nhân thọ Cathay Life có thể được tham khảo tại trang "Giới thiệu Bảo hiểm nhân thọ".
			.faq
				.faq-title 2. Bảo hiểm tạm thời là gì?
				.faq-content
					.content 
						p Bảo hiểm tạm thời có hiệu lực kể từ ngày Bên mua bảo hiểm nộp đơn yêu cầu bảo hiểm và đã đóng đủ khoản phí bảo hiểm đầu tiên cho Công ty, và chấm dứt vào một trong những ngày sau đây, tùy theo ngày nào đến trước:
						p Ngày hợp đồng bảo hiểm được phát hành; hoặc
						p Ngày thư từ chối bảo hiểm được phát hành (căn cứ vào ngày đóng dấu bưu điện, nếu gửi bưu điện); hoặc
						p Ngày Bên mua bảo hiểm đề nghị hủy bỏ hồ sơ yêu cầu bảo hiểm bằng văn bản; hoặc
						p Sau sáu mươi (60) ngày kể từ ngày bảo hiểm tạm thời có hiệu lực.
						p Công ty sẽ bảo hiểm tạm thời cho Người được bảo hiểm chết do tai nạn trong thời hạn bảo hiểm tạm thời, bất kể Người được bảo hiểm ghi tên trong nhiều đơn yêu cầu bảo hiểm giá trị nào nhỏ hơn giữa số tiền hai trăm (200) triệu đồng với số tiền bảo hiểm của sản phẩm bảo hiểm chính. Nếu phí bảo hiểm đầu tiên đã đóng lớn hơn hai trăm triệu (200.000.000) đồng, Công ty sẽ chi trả bảo hiểm tạm thời bằng số phí đầu tiên đã đóng.
			.faq
				.faq-title 3. Khi bên mua bảo hiểm gặp khó khăn về tài chính và khó duy trì hợp đồng hiện tại, trong trường hợp đó bên mua bảo hiểm có những lựa chọn nào để duy trì hiệu lực của hợp đồng hay không?
				.faq-content
					.content 
						p Trong trường hợp như thế, Công ty BHNT Cathay sẽ cùng cấp cho bên mua bảo hiểm một số lựa chọn sau đây để duy trì hiệu lực của hợp đồng:
						p Duy trì hợp đồng với số tiền bảo hiểm giảm:
						p Khi Bên mua bảo hiểm đã đóng đủ số phí bảo hiểm để hợp đồng có giá trị hoàn lại, Bên mua bảo hiểm có thể yêu cầu Công ty sử dụng giá trị hoàn lại tại thời điểm đó như là phí bảo hiểm đóng một lần để chuyển đổi hợp đồng sang hợp đồng với số tiền bảo hiểm giảm, có cùng điều kiện như hợp đồng gốc với số tiền bảo hiểm được điều chỉnh giảm theo phụ lục đính kèm của hợp đồng. Khi Bên mua bảo hiểm chuyển đổi hợp đồng này thành hợp đồng với số tiền bảo hiểm giảm thì hợp đồng mới này sẽ không phải đóng thêm phí bảo hiểm mà vẫn có hiệu lực.
						p Giảm số tiền bảo hiểm:
						p Trong thời gian hợp đồng có hiệu lực, Bên mua bảo hiểm có quyền yêu cầu giảm số tiền bảo hiểm với điều kiện số tiền bảo hiểm sau khi giảm không thấp hơn số tiền bảo hiểm tối thiểu theo quy định của Công ty (số tiền bảo hiểm tối thiểu sẽ được thông tin từ trung tâm dịch vụ khách hàng).
			.faq
				.faq-title 4. Trong trường hợp Bên mua bảo hiểm muốn hủy hợp đồng trước ngày đáo hạn thì bên mua bảo hiểm sẽ nhận được gì trong trường hợp này?
				.faq-content
					.content 
						p Khi khách hàng mua hợp đồng bảo hiểm cũng là khách hàng đã mua cho mình sự bảo vệ cho các kế hoạch và dự định tương lai cho bản thân và người thân. Công ty luôn muốn gắn bó và chia sẽ với những khách hàng của mình trong những thời điểm khó khăn nhất trong suốt thời hạn của hợp đồng. Tuy nhiên, Công ty cũng tôn trọng và thông cảm với khách hàng vì một lí do nào đó phải hủy hợp đồng trước ngày đáo hạn.
						p Bên mua bảo hiểm có thể gửi thông báo bằng văn bản đến Công ty để yêu cầu hủy ngang hợp đồng. Công ty sẽ chi trả cho Bên mua bảo hiểm số tiền bằng giá trị hoàn lại tại thời điểm đó (nếu có) trừ đi các khoản tạm ứng từ giá trị hoàn lại chưa thanh toán, các khoản tạm ứng đóng phí bảo hiểm tự động chưa thanh toán (cùng với lãi tích lũy của tất cả các khoản đó theo tỷ lệ và cách thức do Công ty quy định phù hợp với các quy định liên quan của Ngân hàng Nhà nước Việt Nam).
			.faq
				.faq-title 5. Bên mua bảo hiểm đóng phí trễ hơn so với ngày đến hạn đóng phí thì sẽ ra sao?
				.faq-content
					.content 
						p Trong trường hợp bên mua bảo hiểm đóng phí bảo hiểm trễ so với ngày đến hạn đóng phí, Công ty cho phép một khoảng thời gian gia hạn là sáu mươi (60) ngày kể từ ngày đến hạn đóng phí bảo hiểm.
						p Trước khi hết thời gian gia hạn 60 ngày để đóng phí bảo hiểm, nếu Bên mua bảo hiểm thông báo bằng văn bản đến Công ty yêu cầu được tạm ứng để đóng phí bảo hiểm tự động, Công ty sẽ dùng số tiền bằng giá trị hoàn lại tại thời điểm đó trừ đi khoản tạm ứng từ giá trị hoàn lại chưa thanh toán và lãi tích lũy (nếu có) để thực hiện tạm ứng đóng phí bảo hiểm tự động nhằm chi trả phí bảo hiểm đến hạn và lãi đến hạn phải đóng để duy trì hiệu lực hợp đồng.
			.faq
				.faq-title 6. Quyền lợi hoàn lãi chênh lệch là gì?
				.faq-content
					.content 
						p Vào cuối mỗi năm hợp đồng trong suốt thời hạn đóng phí, Bên mua bảo hiểm có thể yêu cầu Công ty chi trả Quyền lợi hoàn lãi chênh lệch, là số tiền tương ứng với số lãi tính trên giá trị hoàn lại trung bình của năm ở mức lãi suất vượt quá, nếu có, của lãi suất công bố trung bình 12 tháng so với lãi suất tính phí của hợp đồng bảo hiểm. Nếu Bên mua bảo hiểm không yêu cầu Công ty chi trả Quyền lợi hoàn lãi chênh lệch thì số tiền này sẽ được tích lũy lãi ở mức lãi suất công bố hàng tháng cho đến khi hiệu lực hợp đồng chấm dứt.
			.faq
				.faq-title 7. Nếu khách hàng gặp khó khăn tài chính, khách hàng có thể vay tiền từ hợp đồng bảo hiểm hay không?
				.faq-content
					.content 
						p Khi Bên mua bảo hiểm đã đóng đủ số phí bảo hiểm để hợp đồng có giá trị hoàn lại, Bên mua bảo hiểm có thể đề nghị bằng văn bản với Công ty yêu cầu được tạm ứng từ giá trị hoàn lại với số tiền tạm ứng không quá tám mươi lăm phần trăm (85%) giá trị hoàn lại tại thời điểm tạm ứng.
						p Bên mua bảo hiểm có thể hoàn trả số tiền tạm ứng đã nhận vào bất cứ lúc nào, Công ty sẽ trừ số tiền tạm ứng từ bất kỳ khoản tiền nào mà Công ty phải trả theo hợp đồng bảo hiểm này.
						p Tiền lãi tạm ứng từ giá trị hoàn lại sẽ được tích lũy theo tỷ lệ và cách thức do Công ty quy định phù hợp với các quy định có liên quan của Ngân hàng Nhà nước Việt Nam. Khi đến hạn thanh toán các khoản tạm ứng từ giá trị hoàn lại, Bên mua bảo hiểm phải trả cho Công ty khoản tạm ứng gốc cùng với lãi tích lũy của khoản tạm ứng đó. Lãi đến hạn nếu không được thanh toán sẽ được cộng vào khoản tạm ứng gốc và tích lũy lãi theo cùng tỷ lệ và cách thức.
						p Khi tổng các khoản tạm ứng từ giá trị hoàn lại và tạm ứng đóng phí bảo hiểm tự động cùng với lãi tích lũy bằng hoặc vượt quá giá trị hoàn lại tại thời điểm đó thì hợp đồng bị mất hiệu lực.
			.faq
				.faq-title 8. Tại sao những năm đầu tiên tham gia bảo hiểm nhân thọ, giá trị hoàn lại thấp hơn tổng số phí bảo hiểm đã đóng?
				.faq-content
					.content 
						p Khi khách hàng tham gia bảo hiểm nhân thọ, khoản phí mà khách hàng đóng cho công ty được dùng để chi trả cho phí thuần (phần phí được công ty tính toán dựa trên hệ số tử vong phụ thuộc vào độ tuổi và giới tính nhằm đảm bảo chi trả các quyền lợi bảo hiểm mà công ty đã cam kết trong hợp đồng) và phí quản lý trong suốt thời hạn đã cam kết trong hợp đồng.
						p Trong những năm đầu, các chi phí liên quan đến phát hành và phục vụ hợp đồng như chi phí thẩm định, chi phí hoa hồng trả cho đại lý, chi phí in ấn .v.v... lớn hơn rất nhiều so với chi phí của những năm tiếp theo. Trong khi dó, phí bảo hiểm mà khách hàng đóng vào được phân bổ đều vào từng năm trong suốt thời hạn hợp đồng. Điều đó đồng nghĩa với chi phí phục vụ hợp đồng trong những năm đầu tiên cao hơn rất nhiều so với phí bảo hiểm đóng vào của khách hàng. Do đó, trong 2 năm đầu tiên của hợp đồng, các hợp đồng BHNT chưa có giá trị hoàn lại trong 2 năm đầu và trong những năm tiếp theo đó giá trị hoàn lại cũng thường nhỏ hơn so với số phí đóng vào. Điều đó cũng giải thích tại sao khi khách hàng hủy hợp đồng trong những năm đầu tham gia bảo hiểm, không chỉ khách hàng mà Công ty bảo hiểm cũng thiệt thòi do chưa thu hồi đủ chi phí đã bỏ ra.
						p Theo điều 35 của Luật kinh doanh bảo hiểm, nếu Bên mua bảo hiểm không đóng đủ phí của 2 năm hợp đồng đầu tiên, doanh nghiệp bảo hiểm có quyền đơn phương đình chỉ thực hiện hợp đồng, bên mua bảo hiểm không có quyền đòi lại khoản phí đã đóng nếu thời gian đã đóng phí bảo hiểm dưới 2 năm, trừ trường hợp các bên có thỏa thuận khác.
						p Mục đích chính của khách hàng khi tham gia BHNT là muốn nhận được sự bảo vệ trước những rủi ro bất ngờ có thể xảy ra. Khi hợp đồng được phát hành, khách hàng đã nhận được sự bảo vệ bằng với mệnh giá được ghi trong hợp đồng bảo hiểm miễn là khách hàng kê khai trung thực các thông tin cần thiết khi điền Đơn yêu cầu bảo hiểm.
			.faq
				.faq-title 9. Giá trị hoàn lại khách hàng nhận được nhỏ hơn so với tổng phí đã đóng, vậy tại sao không đem tiền gửi tiết kiệm tại ngân hàng sẽ có lợi hơn nhiều?
				.faq-content
					.content 
						p Mục đích chính khi khách hàng tham gia BHNT là để bảo vệ bản thân mình, hoặc người thân trước rủi ro bất ngờ xảy đến. Do đó, khi hợp đồng bảo hiểm được phát hành, Người được bảo hiểm sẽ nhận được sự bảo vệ bằng mệnh giá ghi trên hợp đồng ngay tại thời điểm đó và trong suốt thời hạn của hợp đồng bảo hiểm. Điều đó có nghĩa là, Công ty sẽ chi trả Số tiền bảo hiểm ít nhất bằng mệnh giá bảo hiểm ghi trên hợp đồng cho Người thụ hưởng nếu không may Người được bảo hiểm tử vong hay bị thương tật toàn bộ và vĩnh viễn dù cho Bên mua bảo hiểm chỉ mới đóng một lần phí miễn là khách hàng kê khai trung thực các thông tin cần thiết khi điền Đơn yêu cầu bảo hiểm. Trong khi đó, dù cho bất kì rủi ro nào xảy ra với khách hàng đi chăng nửa, Ngân hàng chỉ có trách nhiệm với khoản tiền gửi tiết kiệm của khách hàng và số tiền khách hàng nhận được vào lúc đáo hạn sẽ phụ thuộc vào khoản tiền tiết kiệm mà khách hàng đã gửi vào.
						p Do đó, BHNT vừa có tính bảo vệ cao, vừa có tính tiết kiệm kỷ luật. Nếu rủi ro xảy ra, thì khi đó là bảo hiểm. Khi không có rủi ro xảy ra, đó là khoản tiết kiệm của khách hàng. Như vậy, tính bảo vệ khi có rủi ro xảy ra là điểm khác biệt lớn nhất giữa bảo hiểm với gửi tiết kiệm ở ngân hàng.