section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Sản phẩm
			li
				a(href="#!") Quà tặng doanh nghiệp
.container
	.row
		.col-12.col-lg-4
			.product-filter
				.filter-group
					.filter-title Danh mục sản phẩm
					.filter-category
						ul
							li
								a(href="#!") Bút
							li
								a(href="#!") Sổ
							li
								a(href="#!") Đồng hồ
							li
								a(href="#!") balo
							li
								a(href="#!") Vali
							li
								a(href="#!") Dù
							li
								a(href="#!") Áo mưa
							li
								a(href="#!") Bộ quà tặng
		.col-12.col-lg-8
			.product-page
				.product-list
					.row
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết
						.col-6.col-md-4.col-lg-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h2.product-name 
											a(href="#!") USB xe hơi
										a.product-link(href="#!") Chi tiết