section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/4.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename Thanh toán phí bảo hiểm
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Dành cho khách hàng
				li
					a(href="#!")
						span Thanh toán phí bảo hiểm
//- nav.page-tab
	.container
		.cate-toggle Danh mục
		ul
			li
				a(href="gioithieubh.html") Giới thiệu về Bảo hiểm Nhân Thọ
			li 
				a(href="thuatngu.html") Thuật ngữ Bảo hiểm Nhân Thọ
			li.active
				a(href="hoidap.html") Hỏi & Đáp
			li
				a(href="bieumau.html") Biểu mẫu
section.customer-section
	.container
		.row
			.col-12.col-lg-6
				.thanhtoan-center
					h1.home-title Đóng phí trực tiếp tại Trung Tâm Dịch Vụ Khách Hàng của Cathay
					.content.text-black
						p Quý khách có thể dễ dàng thanh toán phí bảo hiểm tại bất cứ Trung Tâm Dịch Vụ Khách Hàng của Cathay. Sau khi đóng phí, Quý khách sẽ nhận được Phiếu thu phí bảo hiểm từ nhân viên Trung Tâm Dịch Vụ Khách Hàng của Cathay.
					.working-time 
						strong.text-uppercase Thời gian hoạt động
						br
						|Thứ Hai đến Thứ Sáu: 8h30 đến 17h30 
			.col-12.col-lg-6
				.center-location
					.module-title.text-green Địa chỉ các Trung Tâm Dịch Vụ Khách Hàng Cathay
					.form-wrap
						.form-group
							label Khu vực
							select
								option TP Hồ Chí Minh
					.location-result
						ul
							li 
								i.material-icons business
								|Tòa nhà N'orch, lầu 7, 170 Đường Bùi Thị Xuân, Quận 1
							li 
								i.material-icons call
								|(028) 62 55 63 89
		.thanhtoan-content
			#responsivetabs.thanhtoan-tab
				ul.tabs-list
					li.tab
						a(href="#tab1")
							.icon
								img(src="img/icon/t1.png", alt="")
							.name Tư vấn viên
					li.tab
						a(href="#tab2")
							.icon
								img(src="img/icon/t1.png", alt="")
							.name Nhân viên thu phí
					li.tab
						a(href="#tab3")
							.icon
								img(src="img/icon/t1.png", alt="")
							.name Tự động trích tiền chuyển khoản Cathay
					li.tab
						a(href="#tab4")
							.icon
								img(src="img/icon/t1.png", alt="")
							.name Trích trừ lương
				#tab1.tab-content
					.content
						h3.text-center.text-black 
							strong Đóng phí qua Dịch vụ tự động trích tiền chuyển khoản Cathay
						p.text-center.mb-4 Quý khách có thể tham gia Dịch vụ tự động trích tiền chuyển khoản Cathay để đảm bảo Phí bảo hiểm được đóng đúng hạn và chính xác. 
							br
							|Khi sử dụng dịch vụ này, Quý khách được hưởng chiết khấu 1% tổng số phí bảo hiểm tái tục (nếu phí bảo hiểm trên 1 triệu). 
							br
							|Quý khách chỉ cần thực hiện 3 bước đơn giản sau: 
						.thanhtoan-progress
							.step
								.number-wrap
									.number 01
								.des Đăng ký tài khoản tại Ngân hàng Sacombank
							.step
								.number-wrap
									.number 02
								.des Điền đơn yêu cầu Tự động trích tiền chuyển khoản Cathay
							.step
								.number-wrap
									.number 03
								.des Nạp tiền vào tài khoản Sacombank. Khi đến kỳ nộp phí Ngân hàng Sacombank sẽ tự động trích tiền từ tài khoản của Quý khách để đóng phí bảo hiểm và thông báo đến Quý Khách sau khi giao dịch thành công.
				#tab2.tab-content
					.content
						h3.text-center.text-black 
							strong Đóng phí qua Dịch vụ tự động trích tiền chuyển khoản Cathay
						p.text-center.mb-4 Quý khách có thể tham gia Dịch vụ tự động trích tiền chuyển khoản Cathay để đảm bảo Phí bảo hiểm được đóng đúng hạn và chính xác. 
							br
							|Khi sử dụng dịch vụ này, Quý khách được hưởng chiết khấu 1% tổng số phí bảo hiểm tái tục (nếu phí bảo hiểm trên 1 triệu). 
							br
							|Quý khách chỉ cần thực hiện 3 bước đơn giản sau: 
						.thanhtoan-progress
							.step
								.number-wrap
									.number 01
								.des Đăng ký tài khoản tại Ngân hàng Sacombank
							.step
								.number-wrap
									.number 02
								.des Điền đơn yêu cầu Tự động trích tiền chuyển khoản Cathay
							.step
								.number-wrap
									.number 03
								.des Nạp tiền vào tài khoản Sacombank. Khi đến kỳ nộp phí Ngân hàng Sacombank sẽ tự động trích tiền từ tài khoản của Quý khách để đóng phí bảo hiểm và thông báo đến Quý Khách sau khi giao dịch thành công.
				#tab3.tab-content
					.content
						h3.text-center.text-black 
							strong Đóng phí qua Dịch vụ tự động trích tiền chuyển khoản Cathay
						p.text-center.mb-4 Quý khách có thể tham gia Dịch vụ tự động trích tiền chuyển khoản Cathay để đảm bảo Phí bảo hiểm được đóng đúng hạn và chính xác. 
							br
							|Khi sử dụng dịch vụ này, Quý khách được hưởng chiết khấu 1% tổng số phí bảo hiểm tái tục (nếu phí bảo hiểm trên 1 triệu). 
							br
							|Quý khách chỉ cần thực hiện 3 bước đơn giản sau: 
						.thanhtoan-progress
							.step
								.number-wrap
									.number 01
								.des Đăng ký tài khoản tại Ngân hàng Sacombank
							.step
								.number-wrap
									.number 02
								.des Điền đơn yêu cầu Tự động trích tiền chuyển khoản Cathay
							.step
								.number-wrap
									.number 03
								.des Nạp tiền vào tài khoản Sacombank. Khi đến kỳ nộp phí Ngân hàng Sacombank sẽ tự động trích tiền từ tài khoản của Quý khách để đóng phí bảo hiểm và thông báo đến Quý Khách sau khi giao dịch thành công.
				#tab4.tab-content
					.content
						h3.text-center.text-black 
							strong Đóng phí qua Dịch vụ tự động trích tiền chuyển khoản Cathay
						p.text-center.mb-4 Quý khách có thể tham gia Dịch vụ tự động trích tiền chuyển khoản Cathay để đảm bảo Phí bảo hiểm được đóng đúng hạn và chính xác. 
							br
							|Khi sử dụng dịch vụ này, Quý khách được hưởng chiết khấu 1% tổng số phí bảo hiểm tái tục (nếu phí bảo hiểm trên 1 triệu). 
							br
							|Quý khách chỉ cần thực hiện 3 bước đơn giản sau: 
						.thanhtoan-progress
							.step
								.number-wrap
									.number 01
								.des Đăng ký tài khoản tại Ngân hàng Sacombank
							.step
								.number-wrap
									.number 02
								.des Điền đơn yêu cầu Tự động trích tiền chuyển khoản Cathay
							.step
								.number-wrap
									.number 03
								.des Nạp tiền vào tài khoản Sacombank. Khi đến kỳ nộp phí Ngân hàng Sacombank sẽ tự động trích tiền từ tài khoản của Quý khách để đóng phí bảo hiểm và thông báo đến Quý Khách sau khi giao dịch thành công.
section.customer-section.s2
	.container
		h2.page-title.text-center.text-black Đóng phí qua Ngân hàng - Bưu Điện
		.bank-list
			.bank
				.bank-intro
					.logo
						img(src="img/customer/bank1.png", alt="")
					.name Ngân hàng Sài Gòn Thương Tín
				.bank-des
					p.mb-3 Quý khách mang theo Thư Thông Báo Nộp Phí hoặc Chứng minh nhân dân đến bất kỳ chi nhánh hoặc phòng giao dịch của Ngân hàng Sacombank để đóng phí bảo hiểm mà không phải thanh toán thêm bất cứ khoản phí dịch vụ nào.
					a.link(href="#!") Tra cứu danh sách các chi nhánh Sacombank trên toàn quốc
			.bank
				.bank-intro
					.logo
						img(src="img/customer/bank2.png", alt="")
					.name Ngân hàng Thương mại Cổ phần Á Châu
				.bank-des
					p.mb-3 Quý khách mang theo Thư Thông Báo Nộp Phí hoặc Chứng minh nhân dân đến bất kỳ chi nhánh hoặc phòng giao dịch của Ngân hàng ACB để đóng phí bảo hiểm mà không phải thanh toán thêm bất cứ khoản phí dịch vụ nào.
					a.link(href="#!") Tra cứu danh sách các chi nhánh ACB trên toàn quốc
			.bank
				.bank-intro
					.logo
						img(src="img/customer/bank3.png", alt="")
					.name Bưu điện Việt Nam
				.bank-des
					p.mb-3 Quý khách mang theo Thư Thông Báo Nộp Phí hoặc Chứng minh nhân dân khi đến bất kỳ Bưu điện nào thuộc mạng lưới của Tổng công ty Bưu chính Việt Nam VNPT để đóng phí bảo hiểm và không phải thanh toán thêm bất cứ khoản phí dịch vụ nào.
					a.link(href="#!") Tra cứu danh sách bưu điện VNPT trên toàn quốc
			.bank
				.bank-intro
					.logo
						img(src="img/customer/bank4.png", alt="")
					.name Ngân hàng SCSB
				.bank-des
					p.mb-3 Quý khách mang theo Thư Thông Báo Nộp Phí hoặc Chứng minh nhân dân đến bất kỳ chi nhánh hoặc phòng giao dịch của Ngân hàng SCSB để đóng phí bảo hiểm mà không phải thanh toán thêm bất cứ khoản phí dịch vụ nào.
					a.link(href="#!") Tra cứu danh sách các chi nhánh SCSB trên toàn quốc