section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/4.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename Tin tức
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Tin tức
				li
					a(href="#!")
						span Tin công ty
				li
					a(href="#!")
						span Hoạt động kinh doanh
nav.page-tab
	.container
		.cate-toggle Danh mục
		ul
			li.active
				a(href="#!") Hoạt động kinh doanh
			li
				a(href="#!") Hoạt động xã hội
			li
				a(href="#!") Tin dành cho Khách hàng
.container.scale
	.row
		.col-12.col-lg-8
			section.news-page
				h1.news-title Bảo hiểm nhân thọ Cathay Việt Nam lọt Top 10 công ty bảo hiểm uy tín năm 2017
				.news-detail
					time
						.date 15
						.month 05/2018
					.des Ngày 18 tháng 7 năm 2017, công ty bảo hiểm nhân thọ Cathay Việt Nam vinh dự nhận chứng nhận Top 10 công ty bảo hiểm nhân thọ uy tín năm 2017.
				.content
					figure.text-center.mb-4
						img(src="img/news/img1.jpg", alt="")
					p Đây là kết quả đánh giá từ nghiên cứu của Vietnam Report, dựa trên tổng hợp các đánh giá về uy tín của công ty bảo hiểm qua các phương tiện truyền thông có ảnh hưởng và từ góc nhìn của khách hàng cũng như của các chuyên gia tài chính.
					p.mb-4 Cụ thể, Uy tín của Cathay được đánh giá, xếp hạng dựa trên năng lực và hiệu quả tài chính, uy tín truyền thông và điều tra khảo sát về mức độ nhận biết và sự hài lòng của khách hàng  với các sản phẩm/ dịch vụ của công ty. Khảo sát cũng điều tra, phỏng vấn sâu nhóm chuyên gia tài chính về vị thế và uy tín của công ty trong ngành và điều tra khảo sát về quy mô vốn, tốc độ tăng trưởng doanh thu, lợi nhuận, kế hoạch hoạt động trong năm… được thực hiện trong tháng 5/2017.
					figure.text-center.mb-4
						img(src="img/news/img2.jpg", alt="")
					p Sau 9 năm thành lập và hoạt động tại Việt Nam, được công nhận là Top 10 công ty bảo hiểm uy tín trên thị trường là kết quả của những nỗ lực không ngừng nghỉ của Cathay tại thị trường Việt Nam nhằm đem lại dịch vụ tốt nhất cho khách hàng. Đây cũng là phần thưởng xứng đáng cho tập thể ban lãnh đạo, cán bộ và nhân viên tư vấn tài chính của công ty Cathay với những đóng góp cho sự phát triển của công ty cũng như từng bước khẳng định vị thế của Cathay trên thị trường.
					.mb-5

				.share
					a.fa.fa-twitter(href="#!")
					a.fa.fa-facebook(href="#!")
					a.fa.fa-google-plus(href="#!")
					a.fa.fa-pinterest-p(href="#!")
					a.fa.fa-linkedin(href="#!")
					a.fa.fa-tumblr(href="#!")
					a.fa.fa-envelope-o(href="#!")
		.col-12.col-lg-4
			.sidebar-news
				h3.page-title.text-green Tin tức khác
				.post-list
					a.post(href="")
						time
							.date 15
							.month 05/2018
						.name Chương Trình Khuyến Mãi Mừng Sinh Nhật Lần Thứ 9 Cùng Cathay
					a.post(href="")
						time
							.date 15
							.month 05/2018
						.name Bảo Hiểm Nhân Thọ Cathay Việt Nam Ký Kết Hợp Tác Phân Phối Bảo Hiểm Với Ngân Hàng Indovina
					a.post(href="")
						time
							.date 15
							.month 05/2018
						.name Sản phẩm bảo hiểm nhân thọ nào tốt nhất?
					a.post(href="")
						time
							.date 15
							.month 05/2018
						.name Bảo hiểm nhân thọ Cathay kỷ niệm 9 năm hoạt động tại Việt Nam
