section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/4.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename Tuyển dụng
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!") 
						span Tin tức
				li
					a(href="#!") 
						span Tin tuyển dụng
//- nav.page-tab
	.container
		.cate-toggle Danh mục
		ul
			li
				a(href="gioithieubh.html") Giới thiệu về Bảo hiểm Nhân Thọ
			li 
				a(href="thuatngu.html") Thuật ngữ Bảo hiểm Nhân Thọ
			li.active
				a(href="hoidap.html") Hỏi & Đáp
			li
				a(href="bieumau.html") Biểu mẫu
.container.scale
	.row
		.col-12.col-lg-8
			section.career-section
				h1.home-title Chuyên viên pháp lý
				.content.text-black
					h5.text-500.text-green.text-uppercase Mô tả công việc
					ul.check.mb-4
						li.mb-1 Nghiên cứu luật và tất cả các quy định liên quan đến bảo hiểm và tài chính;
						li.mb-1 Cung cấp các tư vấn pháp luật cho các vấn đề liên quan đến hoạt động của công ty
						li.mb-1 Xem xét và sửa đổi điều khoản và điều kiện của tất cả các loại hợp đồng.
						li.mb-1 Xem xét và sửa đổi điều khoản và điều kiện các loại sản phẩm bảo hiểm của công ty
						li.mb-1 Xử lý các vấn đề pháp lý như vụ kiện hoặc xử phạt hành chính
						li.mb-1 Đảm bảo tính tuân thủ pháp luật của tất cả các hoạt động công ty
						li.mb-1 Các nhiệm vụ khác từ ban giám đốc
					h5.text-500.text-green.text-uppercase Yêu cầu công việc
					ul.check.mb-4
						li.mb-1 Học vấn: Tốt nghiệp đại học Luật trở lên
						li.mb-1 Tối thiểu 2 năm kinh nghiệm trong lĩnh vực pháp lý
						li.mb-1 Thành thạo với các quy định và luật của hoạt động công ty, bảo hiểm, lao động cũng như những quy định điều khoản có liên quan
						li.mb-1 Nghe nói đọc viết thành thạo tiếng Anh hoặc tiếng Hoa
						li.mb-1 Thành thạo vi tính văn phòng
					h5.text-500.text-green.text-uppercase Thu nhập và phúc lợi
					ul.check.mb-4
						li.mb-1 Thu nhập: Thỏa thuận trong quá trình phỏng vấn.
						li.mb-1 Tham gia BHXH, BHYT, BHTN theo luật định khi ký kết HĐLĐ chính thức.
						li.mb-1 Các chế độ khác: Đào tạo, du lịch, bảo hiểm sức khỏe.
					h5.text-500.text-green.text-uppercase Yêu cầu bản thân
					ul.check.mb-4
						li.mb-1 Nhiệt tình, trung thực, có trách nhiệm
						li.mb-1 Khả năng giao và điều hành công việc tốt
						li.mb-1 Kỹ năng giao tiếp tốt trong môi trường đa văn hóa.
					h5.text-500.text-green.text-uppercase LIÊN HỆ NỘP HỒ SƠ
					p Hồ sơ dự tuyển (Ghi rõ mã dự tuyển) bao gồm: Thư xin việc và CV giới thiệu quá trình làm việc
					ul.icon.mb-4
						li.mb-1
							i.text-green.material-icons mail
							|Email : recruitment@cathaylife.com.vn
						li.mb-1
							i.text-green.material-icons phone
							|Tel : (+84) 8 6 2556699
						li.mb-1
							i.text-green.material-icons print
							|Fax: (+84) 8 6 255 6399
		.col-12.col-lg-4
			.other-job
				h2.page-title.text-white Vị trí khác
				.job-list.content
					ul.arrow
						li.mb-2
							a(href="#!") Chuyên viên Lập trình
						li.mb-2
							a(href="#!") Chuyên viên pháp lý
						li.mb-2
							a(href="#!") Chuyên viên lập trình hệ thống
						li.mb-2
							a(href="#!") Phiên dịch viên tiếng Hoa
						li.mb-2
							a(href="#!") Trainer
						li.mb-2
							a(href="#!") Trợ lí kiêm phiên dịch tiếng Hoa
						li.mb-2
							a(href="#!") Chuyên viên phát triển chi nhánh 