section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/4.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename Tuyển dụng
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!") 
						span Tin tức
				li
					a(href="#!") 
						span Tin tuyển dụng
//- nav.page-tab
	.container
		.cate-toggle Danh mục
		ul
			li
				a(href="gioithieubh.html") Giới thiệu về Bảo hiểm Nhân Thọ
			li 
				a(href="thuatngu.html") Thuật ngữ Bảo hiểm Nhân Thọ
			li.active
				a(href="hoidap.html") Hỏi & Đáp
			li
				a(href="bieumau.html") Biểu mẫu
section.career-section
	.container
		h1.home-title.text-center Vị trí tuyển dụng
		.career-intro
			#responsivetabs.career-tabs
				ul.tabs-list
					li.tab
						a(href="#tab1") Trở thành nhân viên
					li.tab
						a(href="#tab2") Trở thành đại lý
					li.tab
						a(href="#tab3") Trờ thành new star
				#tab1.tab-content
					.row
						.col-12.col-lg-4.col-xl-5
							.img.mb-3
								img.w-100(src="img/career/img1.jpg", alt="")
						.col-12.col-lg-8.col-xl-7
							.content.text-black
								p Nếu bạn là người có hoài bão kinh doanh và sẵn sàng chấp nhận thử thách, có tinh thần cầu tiến và thái độ tích cực, khao khát được làm chủ doanh nghiệp riêng nhưng còn khó khăn về vốn đầu tư, đừng ngần ngại gì nữa mà hãy tham gia vào đội ngũ nhân viên của Cathay.
								.row
									.col-12.col-sm-6
										ul.arrow
											li.mb-2
												a.text-500(href="#!") Chuyên viên Lập trình
											li.mb-2 
												a.text-500(href="#!") Chuyên viên pháp lý
											li.mb-2 
												a.text-500(href="#!") Chuyên viên lập trình hệ thống
											li.mb-2 
												a.text-500(href="#!") Phiên dịch viên tiếng Hoa
									.col-12.col-sm-6
										ul.arrow
											li.mb-2 
												a.text-500(href="#!") Trainer
											li.mb-2 
												a.text-500(href="#!") Trợ lí kiêm phiên dịch tiếng Hoa
											li.mb-2 
												a.text-500(href="#!") Chuyên viên phát triển chi nhánh 
				#tab2.tab-content
					.row
						.col-12.col-lg-4.col-xl-5
							.img.mb-3
								img.w-100(src="img/career/img1.jpg", alt="")
						.col-12.col-lg-8.col-xl-7
							.content.text-black
								p Nếu bạn là người có hoài bão kinh doanh và sẵn sàng chấp nhận thử thách, có tinh thần cầu tiến và thái độ tích cực, khao khát được làm chủ doanh nghiệp riêng nhưng còn khó khăn về vốn đầu tư, đừng ngần ngại gì nữa mà hãy tham gia vào đội ngũ nhân viên của Cathay.
								.row
									.col-12.col-sm-6
										ul.arrow
											li.mb-2
												a.text-500(href="#!") Chuyên viên Lập trình
											li.mb-2 
												a.text-500(href="#!") Chuyên viên pháp lý
											li.mb-2 
												a.text-500(href="#!") Chuyên viên lập trình hệ thống
											li.mb-2 
												a.text-500(href="#!") Phiên dịch viên tiếng Hoa
									.col-12.col-sm-6
										ul.arrow
											li.mb-2 
												a.text-500(href="#!") Trainer
											li.mb-2 
												a.text-500(href="#!") Trợ lí kiêm phiên dịch tiếng Hoa
											li.mb-2 
												a.text-500(href="#!") Chuyên viên phát triển chi nhánh 
				#tab3.tab-content
					.row
						.col-12.col-lg-4.col-xl-5
							.img.mb-3
								img.w-100(src="img/career/img1.jpg", alt="")
						.col-12.col-lg-8.col-xl-7
							.content.text-black
								p Nếu bạn là người có hoài bão kinh doanh và sẵn sàng chấp nhận thử thách, có tinh thần cầu tiến và thái độ tích cực, khao khát được làm chủ doanh nghiệp riêng nhưng còn khó khăn về vốn đầu tư, đừng ngần ngại gì nữa mà hãy tham gia vào đội ngũ nhân viên của Cathay.
								.row
									.col-12.col-sm-6
										ul.arrow
											li.mb-2
												a.text-500(href="#!") Chuyên viên Lập trình
											li.mb-2 
												a.text-500(href="#!") Chuyên viên pháp lý
											li.mb-2 
												a.text-500(href="#!") Chuyên viên lập trình hệ thống
											li.mb-2 
												a.text-500(href="#!") Phiên dịch viên tiếng Hoa
									.col-12.col-sm-6
										ul.arrow
											li.mb-2 
												a.text-500(href="#!") Trainer
											li.mb-2 
												a.text-500(href="#!") Trợ lí kiêm phiên dịch tiếng Hoa
											li.mb-2 
												a.text-500(href="#!") Chuyên viên phát triển chi nhánh 
section.career-section.s2
	.container
		h2.page-title.text-green Cơ hội nghề nghiệp
		.row
			.col-12.col-lg-8
				.content.text-black.mb-4
					p Tập đoàn Tài Chính Cathay có gần 50 năm hoạt động thành công trong lĩnh vực Ngân hàng, đầu tư tín dụng, bảo hiểm nhân thọ, bảo hiểm phi nhân thọ, chúng tôi tự hào là Tập đoàn vững mạnh và lớn nhất Đài Loan với tổng tài sản đến năm 2010 hơn 160 tỷ đô la Mỹ.
					p Cùng với sự lớn mạnh đó, chúng tôi mong muốn đem đến cơ hội và sự thăng tiến cho các bạn những người yêu thích kinh doanh và mơ ước thành công trong cuộc sống.
					p Với tiêu chí hoạt động của Công ty "Luôn tôn trọng khách hàng, hướng tới một dịch vụ hoàn hảo", Cathay Việt Nam luôn chú trọng đến việc xây dựng và đào tạo một đội ngũ Đại lý Bảo hiểm chuyên nghiệp, có đầy đủ kiến thức chuyên môn, đạo đức nghề nghiệp và tinh thần phục vụ khách hàng. Hiện nay, chúng tôi đang tuyển chọn những ứng viên phù hợp để giới thiệu và tư vấn các sản phẩm bảo hiểm nhân thọ đến với các khách hàng tiềm năng.
			.col-12.col-lg-4
				.img.text-center.mb-5
					img(src="img/about/img1.png", alt="")
		.page-des.text-center.text-green.text-500 Chúng ta sẽ cùng nhau đạt được nhiều thành công hơn nữa nhờ phương châm hoạt động
		.career-feature
			.row.justify-content-center
				.col-12.col-md-4
					.feature
						.icon
							img(src="img/career/i1.png", alt="")
						.name Tin tưởng
						.des Chúng ta có được sự TIN TƯỞNG bằng cách đặt khách hàng lên hàng đầu.
				.col-12.col-md-4
					.feature
						.icon
							img(src="img/career/i2.png", alt="")
						.name Tôn trọng
						.des Chúng ta nhận được sự TÔN TRỌNG bằng việc phục vụ xã hội.
				.col-12.col-md-4
					.feature
						.icon
							img(src="img/career/i3.png", alt="")
						.name Sáng tạo
						.des SÁNG TẠO đạt được qua việc quan tâm chăm sóc đội ngũ nhân viên và đại lý của mình.
