section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/4.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename Giới thiệu về BH Nhân Thọ
			ol.breadcrumb
				li
					a(href="#!") 
						span Trang chủ
				li
					a(href="#!")
						span Dành cho khách hàng
				li
					a(href="#!")
						span Khách hàng cần biết
				li
					a(href="#!")
						span Hỏi đáp
nav.page-tab
	.container
		.cate-toggle Danh mục
		ul
			li
				a(href="#!") Giới thiệu về Bảo hiểm Nhân Thọ
			li.active
				a(href="#!") Thuật ngữ Bảo hiểm Nhân Thọ
			li
				a(href="#!") Hỏi & Đáp
			li
				a(href="#!") Biểu mẫu
section.customer-section
	.container
		h1.home-title.text-center Thuật ngữ Bảo hiểm Nhân thọ
		.faq-list.s2
			.faq.active
				.faq-title 1. Sản phẩm bảo hiểm nhân thọ là gì?
				.faq-content(style="display: block")
					.content 
						p Sản phẩm bảo hiểm nhân thọ là hợp đồng giữa cá nhân hoặc tổ chức với Công ty Bảo hiểm nhân thọ để bảo hiểm cho bản thân, người thân hoặc nhân viên của tổ chức trong suốt thời hạn của hợp đồng bảo hiểm.
						p Khi sự kiện bảo hiểm xảy ra, Công ty Bảo hiểm nhân thọ sẽ căn cứ vào Bộ Qui tắc điều khoản của hợp đồng bảo hiểm để chi trả quyền lợi bảo hiểm cho Người thụ hưởng tưong ứng với các điều khoản trong bộ Qui tắc điều khoản.
						p Các loại hình bảo hiểm cũng như các sản phẩm bảo hiểm hiện nay của Công ty Bảo hiểm nhân thọ Cathay Life có thể được tham khảo tại trang "Giới thiệu Bảo hiểm nhân thọ".
			.faq
				.faq-title 2. Bảo hiểm tạm thời là gì?
				.faq-content
					.content 
						p Sản phẩm bảo hiểm nhân thọ là hợp đồng giữa cá nhân hoặc tổ chức với Công ty Bảo hiểm nhân thọ để bảo hiểm cho bản thân, người thân hoặc nhân viên của tổ chức trong suốt thời hạn của hợp đồng bảo hiểm.
						p Khi sự kiện bảo hiểm xảy ra, Công ty Bảo hiểm nhân thọ sẽ căn cứ vào Bộ Qui tắc điều khoản của hợp đồng bảo hiểm để chi trả quyền lợi bảo hiểm cho Người thụ hưởng tưong ứng với các điều khoản trong bộ Qui tắc điều khoản.
						p Các loại hình bảo hiểm cũng như các sản phẩm bảo hiểm hiện nay của Công ty Bảo hiểm nhân thọ Cathay Life có thể được tham khảo tại trang "Giới thiệu Bảo hiểm nhân thọ".
			.faq
				.faq-title 3. Khi bên mua bảo hiểm gặp khó khăn về tài chính và khó duy trì hợp đồng hiện tại, trong trường hợp đó bên mua bảo hiểm có những lựa chọn nào để duy trì hiệu lực của hợp đồng hay không?
				.faq-content
					.content 
						p Sản phẩm bảo hiểm nhân thọ là hợp đồng giữa cá nhân hoặc tổ chức với Công ty Bảo hiểm nhân thọ để bảo hiểm cho bản thân, người thân hoặc nhân viên của tổ chức trong suốt thời hạn của hợp đồng bảo hiểm.
						p Khi sự kiện bảo hiểm xảy ra, Công ty Bảo hiểm nhân thọ sẽ căn cứ vào Bộ Qui tắc điều khoản của hợp đồng bảo hiểm để chi trả quyền lợi bảo hiểm cho Người thụ hưởng tưong ứng với các điều khoản trong bộ Qui tắc điều khoản.
						p Các loại hình bảo hiểm cũng như các sản phẩm bảo hiểm hiện nay của Công ty Bảo hiểm nhân thọ Cathay Life có thể được tham khảo tại trang "Giới thiệu Bảo hiểm nhân thọ".
			.faq
				.faq-title 4. Trong trường hợp Bên mua bảo hiểm muốn hủy hợp đồng trước ngày đáo hạn thì bên mua bảo hiểm sẽ nhận được gì trong trường hợp này?
				.faq-content
					.content 
						p Sản phẩm bảo hiểm nhân thọ là hợp đồng giữa cá nhân hoặc tổ chức với Công ty Bảo hiểm nhân thọ để bảo hiểm cho bản thân, người thân hoặc nhân viên của tổ chức trong suốt thời hạn của hợp đồng bảo hiểm.
						p Khi sự kiện bảo hiểm xảy ra, Công ty Bảo hiểm nhân thọ sẽ căn cứ vào Bộ Qui tắc điều khoản của hợp đồng bảo hiểm để chi trả quyền lợi bảo hiểm cho Người thụ hưởng tưong ứng với các điều khoản trong bộ Qui tắc điều khoản.
						p Các loại hình bảo hiểm cũng như các sản phẩm bảo hiểm hiện nay của Công ty Bảo hiểm nhân thọ Cathay Life có thể được tham khảo tại trang "Giới thiệu Bảo hiểm nhân thọ".
			.faq
				.faq-title 5. Bên mua bảo hiểm đóng phí trễ hơn so với ngày đến hạn đóng phí thì sẽ ra sao?
				.faq-content
					.content 
						p Sản phẩm bảo hiểm nhân thọ là hợp đồng giữa cá nhân hoặc tổ chức với Công ty Bảo hiểm nhân thọ để bảo hiểm cho bản thân, người thân hoặc nhân viên của tổ chức trong suốt thời hạn của hợp đồng bảo hiểm.
						p Khi sự kiện bảo hiểm xảy ra, Công ty Bảo hiểm nhân thọ sẽ căn cứ vào Bộ Qui tắc điều khoản của hợp đồng bảo hiểm để chi trả quyền lợi bảo hiểm cho Người thụ hưởng tưong ứng với các điều khoản trong bộ Qui tắc điều khoản.
						p Các loại hình bảo hiểm cũng như các sản phẩm bảo hiểm hiện nay của Công ty Bảo hiểm nhân thọ Cathay Life có thể được tham khảo tại trang "Giới thiệu Bảo hiểm nhân thọ".
			.faq
				.faq-title 6. Quyền lợi hoàn lãi chênh lệch là gì?
				.faq-content
					.content 
						p Sản phẩm bảo hiểm nhân thọ là hợp đồng giữa cá nhân hoặc tổ chức với Công ty Bảo hiểm nhân thọ để bảo hiểm cho bản thân, người thân hoặc nhân viên của tổ chức trong suốt thời hạn của hợp đồng bảo hiểm.
						p Khi sự kiện bảo hiểm xảy ra, Công ty Bảo hiểm nhân thọ sẽ căn cứ vào Bộ Qui tắc điều khoản của hợp đồng bảo hiểm để chi trả quyền lợi bảo hiểm cho Người thụ hưởng tưong ứng với các điều khoản trong bộ Qui tắc điều khoản.
						p Các loại hình bảo hiểm cũng như các sản phẩm bảo hiểm hiện nay của Công ty Bảo hiểm nhân thọ Cathay Life có thể được tham khảo tại trang "Giới thiệu Bảo hiểm nhân thọ".
			.faq
				.faq-title 7. Nếu khách hàng gặp khó khăn tài chính, khách hàng có thể vay tiền từ hợp đồng bảo hiểm hay không?
				.faq-content
					.content 
						p Sản phẩm bảo hiểm nhân thọ là hợp đồng giữa cá nhân hoặc tổ chức với Công ty Bảo hiểm nhân thọ để bảo hiểm cho bản thân, người thân hoặc nhân viên của tổ chức trong suốt thời hạn của hợp đồng bảo hiểm.
						p Khi sự kiện bảo hiểm xảy ra, Công ty Bảo hiểm nhân thọ sẽ căn cứ vào Bộ Qui tắc điều khoản của hợp đồng bảo hiểm để chi trả quyền lợi bảo hiểm cho Người thụ hưởng tưong ứng với các điều khoản trong bộ Qui tắc điều khoản.
						p Các loại hình bảo hiểm cũng như các sản phẩm bảo hiểm hiện nay của Công ty Bảo hiểm nhân thọ Cathay Life có thể được tham khảo tại trang "Giới thiệu Bảo hiểm nhân thọ".
			.faq
				.faq-title 8. Tại sao những năm đầu tiên tham gia bảo hiểm nhân thọ, giá trị hoàn lại thấp hơn tổng số phí bảo hiểm đã đóng?
				.faq-content
					.content 
						p Sản phẩm bảo hiểm nhân thọ là hợp đồng giữa cá nhân hoặc tổ chức với Công ty Bảo hiểm nhân thọ để bảo hiểm cho bản thân, người thân hoặc nhân viên của tổ chức trong suốt thời hạn của hợp đồng bảo hiểm.
						p Khi sự kiện bảo hiểm xảy ra, Công ty Bảo hiểm nhân thọ sẽ căn cứ vào Bộ Qui tắc điều khoản của hợp đồng bảo hiểm để chi trả quyền lợi bảo hiểm cho Người thụ hưởng tưong ứng với các điều khoản trong bộ Qui tắc điều khoản.
						p Các loại hình bảo hiểm cũng như các sản phẩm bảo hiểm hiện nay của Công ty Bảo hiểm nhân thọ Cathay Life có thể được tham khảo tại trang "Giới thiệu Bảo hiểm nhân thọ".
			.faq
				.faq-title 9. Giá trị hoàn lại khách hàng nhận được nhỏ hơn so với tổng phí đã đóng, vậy tại sao không đem tiền gửi tiết kiệm tại ngân hàng sẽ có lợi hơn nhiều?
				.faq-content
					.content 
						p Sản phẩm bảo hiểm nhân thọ là hợp đồng giữa cá nhân hoặc tổ chức với Công ty Bảo hiểm nhân thọ để bảo hiểm cho bản thân, người thân hoặc nhân viên của tổ chức trong suốt thời hạn của hợp đồng bảo hiểm.
						p Khi sự kiện bảo hiểm xảy ra, Công ty Bảo hiểm nhân thọ sẽ căn cứ vào Bộ Qui tắc điều khoản của hợp đồng bảo hiểm để chi trả quyền lợi bảo hiểm cho Người thụ hưởng tưong ứng với các điều khoản trong bộ Qui tắc điều khoản.
						p Các loại hình bảo hiểm cũng như các sản phẩm bảo hiểm hiện nay của Công ty Bảo hiểm nhân thọ Cathay Life có thể được tham khảo tại trang "Giới thiệu Bảo hiểm nhân thọ".